*{
    margin: 0;
    padding: 0;

}
header {
    height: 10vh;
    max-width: 100vw;
    background-color: #FDF6EE;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5vw;
}
section{
    background-color: #FDF6EE;
    max-width: 100vw;
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    width:25vw;
    height: 47vh;
    background-color: #F7EAD7;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.input{
    width: 20vw;
    height: 2vh;
    background-color: rgb(242, 240, 240);   
    border-radius: 5px;
    border: none;
    outline: none;
    color: gray;
    margin-top: 2vh;
    padding: 10px;
}
img{
    height: 18vh;
    width: 10vw;
    border-radius: 50%;
}

button{
    width: 21.5vw;
    background-color: #D9CFE5;
    cursor: pointer;
    color: black;
    height: 5vh;
    border: none;
    margin-top: 2vh;
    border-radius: 5px;
}

.darkMode{
    background-color: black;
}
.whiteMoon{
    color: white;
}
.batata{
    color: red;
    margin-top: 1vh;
}